<div class="banner-container">
    <div class="main-banner">
      <h1>WEEKEND SALE</h1>
      <img src="https://i.imgur.com/2zt3lDF.png" alt="Logo" width="700px">
      <p>hasta <span>30% descuento</span></p>
      <small>*Promoción válida del 19 al 21 de julio de 2024 o hasta agotar stock. *Aplican restricciones</small>
    </div>
    <div class="product-list">
      <div class="product-item">
        <img src="https://i.imgur.com/ydyY9nX.png" alt="Impresora HP" width="200px">
        <h2>IMPRESORA HP</h2>
        <p>MULTIFUNCIÓN 720 DUPLEX TINTA CONTINUA</p>
        <div class="price">$289</div>
      </div>
      <div class="product-item">
        <img src="https://i.imgur.com/THPWceC.png" alt="Televisor Hisense" width="205px">
        <h2>TELEVISOR 55" +MINIBAR 94 L HISENSE</h2>
        <div class="price">$589</div>
      </div>
      <div class="product-item">
        <img src="https://i.imgur.com/19I05zv.png" alt="Parlante Sound Rocker" width="210px">
        <h2>PARLANTE ENGLAND SOUND ROCKER</h2>
        <div class="price">$169</div>
      </div>
    </div>
  </div>
  