<mat-card class="card">
    <h2>Generar Venta</h2>
    <mat-divider></mat-divider>
    <h3>Cabecera de Venta</h3>
    <div class="form-row">
      <mat-form-field appearance="fill" class="form-field">
        <mat-label>Numero Venta</mat-label>
        <input matInput placeholder="Ingrese Numero Venta" [(ngModel)]="sale.numero_venta" [(ngModel)]="saleb.numero_venta">
      </mat-form-field>
      <mat-form-field appearance="fill" class="form-field">
        <mat-label>Fecha de Venta</mat-label>
        <input matInput [matDatepicker]="picker" [(ngModel)]="sale.fecha_venta">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
    </div>
    <div class="form-row">
      <mat-form-field appearance="fill" class="form-field">
        <mat-label>Cedula del Cliente</mat-label>
        <input matInput placeholder="Ingrese Cedula del Cliente"  [(ngModel)]="cliente.cedula">
      </mat-form-field>
      <button mat-raised-button color="primary" (click)="buscarCliente()">Buscar</button>
    </div>
    <div class="form-row">
        <mat-form-field appearance="fill" class="form-field">
            <mat-label>ID del Cliente</mat-label>
            <input matInput placeholder="ID del Cliente" [value]="clienteTn?.cient_id " [(ngModel)]="sale.cliente_id" readonly>
          </mat-form-field>
        <mat-form-field appearance="fill" class="form-field">
        <mat-label>Nombre del Cliente</mat-label>
        <input matInput placeholder="Nombre del Cliente" [value]="clienteTn?.nombre" readonly>
      </mat-form-field>
      <mat-form-field appearance="fill" class="form-field">
        <mat-label>Telefono del Cliente</mat-label>
        <input matInput placeholder="Telefono del Cliente" [value]="clienteTn?.telefono" readonly>
      </mat-form-field>
      <button mat-raised-button color="primary" (click)="guardar()">Acentar Cabecera</button>
    </div>
    <h3>Detalle de Venta</h3>
    <div class="form-row">
      <mat-form-field appearance="fill" class="form-field">
        <mat-label>ID_Cabecera</mat-label>
        <input matInput placeholder="ID_Cabecera" [value]="salebTn?.sale_id" readonly>
      </mat-form-field>
      <mat-form-field appearance="fill" class="form-field">
        <mat-label>ID del Producto</mat-label>
        <input matInput placeholder="Ingrese ID del Producto" [(ngModel)]="producto.product_id" [(ngModel)]="productovemta.product_id">
      </mat-form-field>
      <button mat-raised-button color="primary" (click)="buscarProducto()">Buscar</button>
    </div>
    <div class="form-row">
      <mat-form-field appearance="fill" class="form-field">
        <mat-label>Nombre del Producto</mat-label>
        <input matInput placeholder="Nombre del Producto" [value]="productoTn?.nombre"  readonly>
      </mat-form-field>
      
      <mat-form-field appearance="fill" class="form-field">
        <mat-label>Stock del Producto</mat-label>
        <input matInput placeholder="Stock del Producto" [value]="productoTn?.stock" readonly>
      </mat-form-field>

      <mat-form-field appearance="fill" class="form-field">
        <mat-label>Precio Unitario</mat-label>
        <input matInput placeholder="Precio Unitario del Producto" [value]="productoTn?.precioUnitario" readonly>
      </mat-form-field>

      <mat-form-field appearance="fill" class="form-field">
        <mat-label>Cantidad</mat-label>
        <input matInput placeholder="Cantidad" [(ngModel)]="saledetail.cantidad" [(ngModel)]="productovemta.stock">
      </mat-form-field>
      <button mat-raised-button color="primary" (click)="guardarSaleDetail()">Acentar Detalle</button>
    </div>

    <!-- Listado de Detalles -->
    <div class="container">
      <h2>Detalles Venta</h2>
      <br>
      <table mat-table [dataSource]="listadoDetallesWS">
      
      <!-- Columna ID -->
        <ng-container matColumnDef="saleDet_id">
          <th mat-header-cell *matHeaderCellDef>ID Detalle</th>
          <td mat-cell *matCellDef="let SaleDetailTabla" >{{SaleDetailTabla.saleDet_id}}</td>
        </ng-container>
  
        <!-- Columna Placa -->
        <ng-container matColumnDef="product_id">
          <th mat-header-cell *matHeaderCellDef>ID Producto</th>
          <td mat-cell *matCellDef="let SaleDetailTabla" >{{SaleDetailTabla.product_id}}</td>
        </ng-container>
    
        <!-- Columna Marca -->
        <ng-container matColumnDef="cantidad">
          <th mat-header-cell *matHeaderCellDef>Cantidad Producto</th>
          <td mat-cell *matCellDef="let SaleDetailTabla">{{SaleDetailTabla.cantidad}}</td>
        </ng-container>
    
        <!-- Columna Modelo -->
        <ng-container matColumnDef="precio">
          <th mat-header-cell *matHeaderCellDef>Precio</th>
          <td mat-cell *matCellDef="let SaleDetailTabla">{{SaleDetailTabla.precio}}</td>
        </ng-container>
    
        <!-- Acciones -->
        <ng-container matColumnDef="acciones">
          <th mat-header-cell *matHeaderCellDef>Acciones</th>
          <td mat-cell *matCellDef="let SaleDetailTabla">
            <a><mat-icon (click)="eliminar(SaleDetailTabla)">delete</mat-icon> </a>
            <br>          
          </td>
        </ng-container>
    
        <!-- Define las columnas que se mostrarán -->
        <tr mat-header-row *matHeaderRowDef="['saleDet_id','product_id', 'cantidad', 'precio','acciones']"></tr>
        <tr mat-row *matRowDef="let row; columns: ['saleDet_id','product_id', 'cantidad', 'precio','acciones'];"></tr>
      </table>
    </div>
    
    <h3>Valor a Pagar</h3>
    <div class="form-row">
      <mat-form-field appearance="fill" class="form-field">
        <mat-label>Total a Pagar</mat-label>
        <input matInput placeholder="Total a Pagar" [value]="totalPrecio" readonly>
      </mat-form-field>
      <button mat-raised-button color="primary"(click)="calcularPrecioPagar()">Calcular Precio</button>
      <button mat-raised-button color="primary" (click)="actulizarPrecioVenta()">Guardar Venta</button>
    </div>
  </mat-card>
  