<div id="header">
  <ul class="nav">
      <li><a>Clientes</a>
          <ul>
              <li><a routerLink="pagina/CrearCliente">Crear Clientes</a></li>
              <li><a routerLink="pagina/listarCliente">Listar Clientes</a></li>
          </ul>
      </li>
      <li><a >Productos</a>
          <ul>
              <li><a routerLink="pagina/CrearProducto">Crear Producto</a></li>
              <li><a routerLink="pagina/listarProducto">Listar Producto</a></li>
          </ul>
      </li>
      <li><a>Usuario</a>
          <ul>
              <li><a routerLink="pagina/crearUsuario">Crear Usuario</a></li>
              <li><a routerLink="pagina/listarUsuario">Listar Usuarios</a></li>
          </ul>
      </li>
      <li><a>Proveedor</a>
          <ul>
              <li><a routerLink="pagina/crearProveedor">Crear Proveedor</a></li>
              <li><a routerLink="pagina/listarProveedor">Listar Proveedores</a></li>
          </ul>
      </li>
      <li><a>Promociones</a>
        <ul>
            <li><a routerLink="pagina/crearPromocion">Crear Promoción</a></li>
            <li><a routerLink="pagina/listarPromocion">Listar Promociones</a></li>
        </ul>
    </li>
    <li><a>Pedido Producto</a>
        <ul>
            <li><a routerLink="pagina/crearOrden">Crear Pedido</a></li>
            <li><a routerLink="/">Listar Pedidos</a></li>
        </ul>
    </li>
      <li class="right"><a (click)="showLogoutConfirmation()">Cerrar Sesión</a></li>
  </ul>
</div>
