<div class="container">
  <h1>Generar Pedido</h1>
  <div class="form-group">
    <mat-card class="form-card">
      <mat-form-field appearance="outline">
        <mat-label>Id_Proveedor</mat-label>
        <input matInput placeholder="Ingrese el ID del proveedor" [(ngModel)]="proveedor.supplier_id" [(ngModel)]="order.proveedorid">
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Nombre</mat-label>
        <input matInput placeholder="Nombre" [value]="proveedorTn?.nombre" readonly>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Contacto</mat-label>
        <input matInput placeholder="Contacto" [value]="proveedorTn?.contacto" readonly>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Dirección</mat-label>
        <input matInput placeholder="Dirección" [value]="proveedorTn?.direccion" readonly>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Teléfono</mat-label>
        <input matInput placeholder="Teléfono" [value]="proveedorTn?.telefono" readonly>
      </mat-form-field>
      <button mat-raised-button color="primary" (click)="fetchProvedor()">Buscar</button>
    </mat-card>
    <mat-card class="form-card">
      <mat-form-field appearance="outline">
        <mat-label>Id_Producto</mat-label>
        <input matInput placeholder="Ingrese el ID del producto" [(ngModel)]="producto.product_id" [(ngModel)]="order.product_id" [(ngModel)]="productoact.product_id">
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Nombre</mat-label>
        <input matInput placeholder="Nombre del producto" [value]="productoTn?.nombre" readonly>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Descripción</mat-label>
        <input matInput placeholder="Descripción" [value]="productoTn?.descripcion" readonly>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Categoría</mat-label>
        <input matInput placeholder="Categoría" [value]="productoTn?.categoria" readonly>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Precio Unitario</mat-label>
        <input matInput placeholder="Precio Unitario" [value]="productoTn?.precioUnitario" readonly>
      </mat-form-field>
      <mat-form-field class="form-field">
        <mat-label>Stock:</mat-label>
        <input matInput type="number" name="Stock" placeholder="stock del producto" [(ngModel)]="productoact.stock" >
      </mat-form-field>
      <button mat-raised-button color="primary" (click)="fetchProduct()">Buscar</button>
    </mat-card>
  </div>
  <div class="form-group">
    <mat-form-field appearance="fill">
      <mat-label>Fecha de Pedido</mat-label>
      <input matInput [matDatepicker]="startPicker" [(ngModel)]="order.fechaPedido" name="fechaPedido">
      <mat-datepicker-toggle matIconSuffix [for]="startPicker"></mat-datepicker-toggle>
      <mat-datepicker #startPicker></mat-datepicker>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Fecha de Entrega</mat-label>
      <input matInput [matDatepicker]="endPicker" [(ngModel)]="order.fechaEntrega" name="fechaEntrega">
      <mat-datepicker-toggle matIconSuffix [for]="endPicker"></mat-datepicker-toggle>
      <mat-datepicker #endPicker></mat-datepicker>
    </mat-form-field>
  </div>
  <button mat-raised-button color="primary" (click)="guardar()">Generar Orden</button>
</div>
